name: Build & Test App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3   # Code ko checkout karo
    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        java-version: '17'
    - name: Build with Gradle
      run: ./gradlew build
    - name: Run Tests
      run: ./gradlew test
